@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<style>

.tete-list{
    display:flex;
    justify-content:space-between;
}

.element-list{
    display: flex;
    justify-content: space-between;
}

</style>


<div class="Books">
    <h1>Liste des livres:</h1>


    <div class="tete-list">
        <h3>NOM</h3>
        <h3>IDENTIFIANT</h3>
        <h3>AUTEUR</h3>
        <h3>PRIX</h3>
        <h3>GENRES</h3>
        <h3>SUPPRESSION</h3>
    </div>


    @foreach (var book in Model) 
    //<!-- la liste des genres est dans la variable Model qui est t
    {

        <div> 

            <div class="element-list">
                <p>@(book.Nom)</p>
                <p>@(book.Id)</p>
                <p>@(book.Authors)</p>
                <p>@(book.Prix)</p>
            
                @foreach (var gender in book.Genre)
                {
                    <p>@gender.Nom</p>
                }

                <form asp-action="Delete" asp-controller="book">

                    <input type="submit" value="Delete" style="width: 100%; margin-top: 50px" />
                    <input type="hidden" value="@book.Id" name="IdDeleted"/>

                </form>
                <form asp-action="Update" asp-controller="book">

                    <input type="submit" value="Update" style="width: 100%; margin-top: 50px" />
                    <input type="hidden" value="@book.Id" name="IdUpdate"/>
                 
                   
                </form>
            </div>
        </div>
        
    }
</div>

